body {
  background-color: #0d0221;
  width: 100%;
  height: 100vh;
  margin: 0;
}

form {
  margin: 0 auto;
  width: 60vh;
  max-width: 500px;
  min-width: 300px;
  padding-bottom: 2em;
}

h1 {
  text-align: center;
  font-family: Nexa, sans-serif;
  font-size: 30px;
  color: #2de2d6;
  margin: 1em auto;
}

h2 {
  text-align: left;
  font-family: Nexa;
  color: #2de2d6;
  font-size: 22px;
}

p {
  text-align: center;
  font-family: nevis;
  font-size: 17px;
  color: #f03070;
  margin: 1em auto;
}

label {
  color: #f9c80e;
  font-family: poppins;
  display: block;
	margin: 0.5rem 0;
}

fieldset {
  border: none;
  position: relative;
  border-bottom: 3px solid #f03070;
  background-color: #211635;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 14px;
  background-color: #df0773;
  min-width: 20px;
  max-width: 150px;
  font-family: Roboto Mono;
  font-weight: bold;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="file"] {
  padding: 1px 2px;
}

input, textarea {
  background-color: #0d0221;
  border: 1px solid #0d0221;
  color: white;
}

#name {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

#email {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

#number {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

#age {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

#dropdown {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
  background-color: #d8d8d8;
}

#religion {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}